h3{
    color:#21088f;
}
    

.c1
{
    color:#2E58DD;
    font-style:oblique;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.c3
{
    color:#FD03D6;
}
.c2
{
    color:#FD03D6;
}
.c4
{
    color:#FD03D6;
}
.c5{
    color:#FD03D6;
}
.c6
{color:#FD03D6;}